.avatar-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Avatar */
.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #fff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}





&:hover .avatar {
    transform: scale(1.05);
}

.avatar-text {
    margin-top: 8px;
    font-size: 14px;
    color: #666;
}