<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Statistik Hama</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Distribusi Jenis Hama</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="chartHama"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Statistik Bulanan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="chartBulanan"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Statistik Harian</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas id="chartHarian"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
