<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <i class="fa-solid fa-house"></i>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hama">
      <i class="fa-solid fa-bug"></i>
      <ion-label>Hama</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gps">
      <i class="fa-solid fa-map"></i>
      <ion-label>GPS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <i class="fa-solid fa-circle-user"></i>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
