:root {
    /* Primary (Hijau tua lembut & soft) */
    --ion-color-primary: #1f7a4a;
    --ion-color-primary-rgb: 31, 122, 74;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-shade: #1b6b41;
    --ion-color-primary-tint: #3a8f63;

    /* Background */
    --ion-background-color: #f8f9f8;
}
