:root {
    /* Primary (Hijau lembut) */
    --ion-color-primary: #189d1c;
    --ion-color-primary-rgb: 76, 175, 80;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-shade: #43a047;
    --ion-color-primary-tint: #66bb6a;

    /* Background */
    --ion-background-color: #ffffff;
}