<ion-content class="login-container">

  <div class="logo-box">
    <img src="assets/Logo.png" alt="logo" class="logo">
    <h1 class="brand">Selamat Datang</h1>
    <p class="subtitle">Kelola Pertanian Anda Dengan Mudah</p>
  </div>

  <div class="form-box">

<ion-item lines="none" class="input-item">
  <ion-icon name="mail-outline" slot="start"></ion-icon>
  <ion-input
    placeholder="Email"
    type="email"
    inputmode="email"
    autocomplete="email"
    [(ngModel)]="email">
  </ion-input>
</ion-item>

<ion-item lines="none" class="input-item">
  <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
  <ion-input
    placeholder="Password"
    type="password"
    autocomplete="current-password"
    [(ngModel)]="password">
  </ion-input>
</ion-item>


    <div class="forgot">
      <a routerLink="/forgot">Lupa kata sandi?</a>
    </div>


    <ion-button
      expand="block"
      class="btn-primary"
      shape="round"
      (click)="login()">
      Masuk
    </ion-button>

    <div class="divider"></div>

    <p class="register-text">
      Belum punya akun?
      <a [routerLink]="['/register']">Daftar sekarang</a>
    </p>

  </div>

</ion-content>
