<ion-content class="register-container">

  <div class="header-box">
    <img src="assets/Logo.png" alt="logo" class="logo">
    <h2>Buat Akun Baru</h2>
    <p>Isi data diri Anda dengan benar</p>
  </div>

  <div class="form-box">

<ion-item lines="none" class="input-item">
  <ion-icon name="person-outline" slot="start"></ion-icon>
  <ion-input
    placeholder="Nama Lengkap"
    [(ngModel)]="name"
    autocomplete="name">
  </ion-input>
</ion-item>

<ion-item lines="none" class="input-item">
  <ion-icon name="call-outline" slot="start"></ion-icon>
  <ion-input
    placeholder="No HP"
    type="tel"
    inputmode="tel"
    [(ngModel)]="phone"
    autocomplete="tel">
  </ion-input>
</ion-item>

<ion-item lines="none" class="input-item">
  <ion-icon name="mail-outline" slot="start"></ion-icon>
  <ion-input
    placeholder="Email"
    type="email"
    inputmode="email"
    [(ngModel)]="email"
    autocomplete="email">
  </ion-input>
</ion-item>

<ion-item lines="none" class="input-item">
  <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
  <ion-input
    placeholder="Password"
    type="password"
    [(ngModel)]="password"
    autocomplete="new-password">
  </ion-input>
</ion-item>


    <ion-button expand="block" class="btn-primary" shape="round" (click)="register()">
      Daftar
    </ion-button>

    <div class="divider"></div>

    <p class="login-text">
      Sudah punya akun? <a routerLink="/login">Masuk sekarang</a>
    </p>

  </div>

</ion-content>
