.register-container {
    --background: #f8f9fa;
    padding: 20px;
}

.header-box {
    margin-top: 40px;
    text-align: center;

    .logo {
        width: 120px;
        margin-bottom: 10px;
    }
    
    h2 {
        font-size: 26px;
        font-weight: 700;
        color: #2e7d32;
    }

    p {
        color: #7f8c8d;
        font-size: 14px;
    }
}

.form-box {
    background: #fff;
    padding: 22px;
    border-radius: 16px;
    margin-top: 25px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.input-item {
  --padding-start: 12px;
  --min-height: 52px;        /* FIX UTAMA */
  align-items: center;      /* FIX ICON & INPUT */
  margin-bottom: 16px;
  border-radius: 12px;
  background: #f7f7f7;
}

ion-input {
  font-size: 15px;
  --padding-start: 8px;
}


.btn-primary {
    --background: #27ae60;
    --background-activated: #1e8449;
    --border-radius: 12px;
    height: 48px;
    font-weight: 600;
}

.divider {
    width: 100%;
    height: 1px;
    background: #ececec;
    margin: 20px 0;
}

.login-text {
    text-align: center;

    a {
        color: #2e7d32;
        font-weight: 600;
        text-decoration: none;
    }
}

@media (min-width: 500px) {
    .form-box {
        max-width: 380px;
        margin: 0 auto;
    }
}