<!-- HEADER CUSTOM -->
<div class="tiktok-header">
  <div class="title">Pengamatan Hama
  </div>
</div>

<ion-content fullscreen class="animate-page">

  <form (ngSubmit)="submit()">
    <ion-list>

      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>Tanggal Pengamatan</ion-label>
        <ion-datetime
          presentation="date"
          [(ngModel)]="form.tanggal_pengamatan"
          name="tanggal_pengamatan"
          placeholder="Pilih Tanggal"
        ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-icon name="location-outline" slot="start"></ion-icon>
        <ion-label position="floating">Lokasi / Blok Lahan</ion-label>
        <ion-input [(ngModel)]="form.lokasi_blok" name="lokasi_blok" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="leaf-outline" slot="start"></ion-icon>
        <ion-label>Jenis Tanaman</ion-label>
        <ion-select
          [(ngModel)]="form.jenis_tanaman"
          name="jenis_tanaman"
          placeholder="Pilih Tanaman"
          required
        >
          <ion-select-option
            *ngFor="let t of jenisTanamanList"
            [value]="t"
          >
            {{ t }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon name="time-outline" slot="start"></ion-icon>
        <ion-label position="floating">Umur Tanaman (hari)</ion-label>
        <ion-input type="number" [(ngModel)]="form.umur_tanaman" name="umur_tanaman"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="bug-outline" slot="start"></ion-icon>
        <ion-label>Jenis Hama / Penyakit</ion-label>
        <ion-select
          [(ngModel)]="form.jenis_hama"
          name="jenis_hama"
          placeholder="Pilih Hama"
          required
        >
          <ion-select-option
            *ngFor="let h of jenisHamaList"
            [value]="h"
          >
            {{ h }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        <ion-label position="floating">Tingkat Serangan (%)</ion-label>
        <ion-input type="number" [(ngModel)]="form.tingkat_serangan" name="tingkat_serangan"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="eye-outline" slot="start"></ion-icon>
        <ion-label position="floating">Gejala Serangan</ion-label>
        <ion-textarea auto-grow="true" [(ngModel)]="form.gejala_serangan" name="gejala_serangan"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        <ion-label position="floating">Keterangan Tambahan</ion-label>
        <ion-textarea auto-grow="true" [(ngModel)]="form.keterangan" name="keterangan"></ion-textarea>
      </ion-item>

    </ion-list>

    <!-- Upload Foto -->
    <div class="upload-container ion-margin-top animate-pop">
      <label class="upload-button">
        <ion-icon name="camera-outline"></ion-icon>
        <span>Unggah Foto Bukti</span>
        <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden />
      </label>

      <div *ngIf="previewImage" class="preview-box">
        <img [src]="previewImage" alt="Preview Foto">
      </div>
    </div>

    <!-- Submit -->
    <ion-button class="tek-simpan" expand="block" shape="round" type="submit">
      Simpan Data
    </ion-button>

    
  </form>
</ion-content>
