.no-padding {
    --padding-top: 0;
    /* hapus padding default ion-content */
}

.tiktok-header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #ffffff;
}

.tiktok-header .title {
    flex: 1;
    font-weight: bold;
    font-size: 18px;
    color: #5a5858;
}

/* Icon Input */
ion-item ion-icon {
    color: var(--my-green);
    font-size: 20px;
    margin-top: 25px;
}

.upload-container {
    text-align: center;
}

.upload-button {
    width: auto;
    max-width: 350px;
    /* batas ukuran */
    background: #d4f7d8;
    border: 2px dashed var(--my-green);
    padding: 14px 18px;
    border-radius: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: .25s;
    margin: 0 auto;
    /* biar tetap center */
}

/* Samakan lebar tombol simpan dengan upload */
ion-button.tek-simpan {
    --background: #1e7e34;
    --color: #ffffff;
    width: auto !important;
    max-width: 350px;
    margin: 0 auto;
    display: block;
    margin: 16px auto;
    --border-radius: 12px;
}

/* Hover styling */
ion-button.tek-simpan:hover {
    --background: #28a745;
    /* Hijau lebih cerah saat hover */
    transform: translateY(-2px);
    transition: 0.25s;
}



.upload-button:hover {
    background: #bff2c4;
}

.upload-button ion-icon {
    font-size: 22px;
    color: var(--my-green);
}

.upload-button span {
    font-weight: 600;
    font-size: 15px;
    color: var(--my-green);
}

.preview-box {
    margin-top: 10px;
    text-align: center;
}

.preview-box img {
    width: 100%;
    max-height: 230px;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid #c8e6c9;
}

/* Animations */
.animate-page {
    animation: fadeIn .6s ease-out;
}

.animate-pop {
    animation: popIn .5s ease-out;
}

.animate-slide-up {
    animation: slideUp .7s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes popIn {
    0% {
        transform: scale(.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}